* {
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 75px;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;

}
 .letter {  
    border: 2px solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    width: 50px;
    height: 50px;
}
.info-bar {
    text-align: center;
}
  